.Exercise {
  width: 275px;
  height: 275px;
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}

a {
  text-decoration: none;
}

.Exercise h2 {
  z-index: 10;
  font-weight: 600;
}

.Exercise img {
  width: 100%;
  z-index: 5;
  position: absolute;
  border-radius: 20px;
}

.Recording {
  width: 400px;
  height: 275px;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}

.Recording video {
  width: 400px;
  z-index: 5;
  position: absolute;
  border-radius: 20px;
  object-fit: cover;
}

.Container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* margin: auto;
  text-align: center; */
  overflow: hidden;
}

/* .Centred {
  display: flex;
  margin: auto;
} */

.VidContainer {
  display: flex;
  overflow: hidden;
  flex-flow: wrap;
}
