.Exercise {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  position: relative;
}

a {
  text-decoration: none;
}

.Exercise h2 {
  z-index: 10;
  font-weight: 600;
}

.Exercise img {
  width: 100%;
  z-index: 5;
  position: absolute;
  border-radius: 20px;
}

.Exercise video {
  width: 100%;
  z-index: 5;
  position: absolute;
  border-radius: 20px;
}

.Container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
